* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(172, 177, 182);
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid darkgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 400px;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  width: 100%;
  min-height: 100px;
  background-color: #eeeeee;
  margin-bottom: 1rem;
  padding: 10px;
  border: 2px solid darkgray;
  word-wrap: break-word;
  word-break: break-all;
}

.screen .result_top {
  font-size: 20px;
  min-height: 40px;
}

.screen .result_bottom {
  font-size: 40px;
  min-height: 50px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}

.clear {
  grid-column: 1 / 3;
  padding: 20px;
  font-size: 20px;
  border: 2px solid darkgray;
  border-radius: 5px;
  cursor: pointer;
  background-color: cadetblue;
  color: white;
}

.delete {
  grid-column: 3 / 5;
  padding: 20px;
  font-size: 20px;
  border: 2px solid darkgray;
  border-radius: 5px;
  cursor: pointer;
  background-color: salmon;
  color: white;
}
.pad {
  padding: 20px;
  font-size: 20px;
  border: 2px solid darkgray;
  border-radius: 5px;
  cursor: pointer;
}
